.right-login {
  background: linear-gradient(90deg, #fc819e, #ffbea3);
}

.left-login {
  background: #fffbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.img-login img {
  width: 75%;
  height: auto;
}

.img-login {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-login .logo {
  padding: 30px 0;
}

.form-login .logo h3 {
  margin: 0;
  padding-left: 5px;
}

.btn-submit button {
  background: #000;
  margin-top: 20px;
  padding: 10px 40px;
  width: 400px;
  border: none;
}

.btn-submit button:hover {
  background-color: #000;
  color: #fff;
  box-shadow: none;
  text-decoration: none;
}

.form-login ul {
  padding: 10px;
}

.form-login ul li button.nav-link.active {
  background-color: #fc819e;
  border: 2px solid #fc819e;
  color: #fff;
}

.form-login .nav-link.active {
  position: relative;
  animation: zoomOut 0.9s forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.form-login ul li button {
  color: #000;
}

.custom-input-group {
  display: flex; /* Mengatur elemen anak berbaris horizontal */
  align-items: center; /* Menyelaraskan elemen anak secara vertikal */
  position: relative; /* Konteks posisi untuk penyesuaian lebih lanjut */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-input-group input {
  flex: 1; /* Mengambil ruang tersisa */
  border-right: none; /* Menghilangkan border kanan pada input */
  border-radius: 0.25rem 0 0 0.25rem; /* Menyesuaikan border radius */
}

.custom-input-group .input-group-text {
  cursor: pointer; /* Menambahkan efek pointer pada ikon */
  border-left: none; /* Menghilangkan border kiri pada ikon */
  border-radius: 0 0.25rem 0.25rem 0; /* Menyesuaikan border radius */
}

.form-login ul li button:hover {
  background-color: #ffffff;
  color: #000;
}

.name-input-group {
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 20px;
}

.name-input {
  flex: 1 1 45%; /* Mengambil minimal 45% dari space, tetapi bisa bertambah jika ada ruang */
  margin-bottom: 15px;
}

.email-input input,
.password-input input,
.confirm-password-input input {
  width: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.name-input input {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.name-input input:focus,
.email-input input:focus,
.password-input input:focus,
.confirm-password-input input:focus {
  box-shadow: none;
}

.link-to_signup p,
.link-to_login p {
  padding-top: 15px;
}

.link-to_signup a,
.link-to_login a {
  text-decoration: none;
}
.link-to_signup span,
.link-to_login span {
  color: #000;
}

.signin-as {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-as .line {
  flex: 1;
  height: 1px;
  background-color: #000;
  margin: 0 2px;
  width: 50px;
}

.signin-as p {
  margin: 0;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .img-login img {
    width: 95%;
    height: auto;
  }

  .custom-input-group {
    border: none;
  }
  .name-input input,
  .email-input input,
  .password-input input,
  .confirm-password-input input {
    margin: 0 20px;
  }
  .name-input label,
  .email-input label,
  .password-input label,
  .confirm-password-input label {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .right-login {
    display: none;
  }

  .left-signup {
    padding-bottom: 130px;
  }

  .left-login {
    padding: 130px;
  }

  .name-input label,
  .email-input label,
  .password-input label,
  .confirm-password-input label {
    font-weight: bold;
  }

  .form-login .logo {
    width: 60%;
    align-items: center;
    justify-content: center;
  }
  .logo h3 {
    font-size: 30px;
  }
  .name-input-group {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 576px) {
  .name-input input,
  .email-input input {
    width: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }

  .password-input input,
  .confirm-password-input input {
    width: 260px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }

  .btn-submit button {
    width: 300px;
  }
  .form-login .logo {
    padding: 10px 0;
    width: 74%;
  }
  .form-login .logo img {
    padding: 10px 0;
  }
  .form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .right-login {
    display: none;
  }

  .left-login {
    padding: 200px;
  }
}
